//sizes
$view-port-xl = 1150px
$view-port-large = 950px
$view-port-tablet = 800px
$view-port-medium = 650px
$view-port-mob = 500px
$view-port-sm = 420px

$padding-large = 30px
$padding-tablet = 25px
$padding-medium = 20px
$padding-mob = 15px
$padding-sm = 10px

$header-height = 112px