extends ../layouts/default

block content
	.invitation
		.invitation__slide
			.invitation__content.view-port
				h1.invitation__title Скидка 30% на
					br
					| первое посещение
				.invitation__subtitle Скидка предоставляется при предварительной
					br
					| записи по телефону
				.invitation__button.form-button Записаться
		.invitation__slide
			.invitation__content.view-port
				h1.invitation__title Занимайтесь дешевле
					br
					| на 15%
				.invitation__subtitle Скидка предоставляется при предварительной
					br
					| записи по телефону
				.invitation__button.form-button Записаться
	.prices.view-port.main-padding
		h1.prices__title.special-page__title.main-title Цены
		p.special-page__text.special-page__text_subtitle Перед тем как начать заниматься, необходимо пройти
			a.prices__link(href='rules.html') стартовую тренировку
			|
			| (продолжительность 1-1,5ч).
		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules Стартовая тренировка это: визуальная диагностика осанки, тестирование биомеханики суставов, проблемы и их решение в течение тренировочного процесса, составление программы в соответствии с индивидуальными особенностями.
		p.special-page__text.special-page__text_subtitle(style='margin-bottom: 0') Стоимость стартовой тренировки составляет 3000 рублей.

		.prices__space
		p.special-page__text.special-page__text_subtitle Специальное предложение для новичка «Введение в Пилатес»
		.prices__table.prices__table--small
			.prices__table_col
				.prices__table_cell.prices__table_head
					p Пилатес мат
				.prices__table_cell.prices__table_body
					p 3 персональные тренировки
					p стоимость: 7500 ₽
			.prices__table_col
				.prices__table_cell.prices__table_head
					p Пилатес мат + большое оборудование
				.prices__table_cell.prices__table_body
					p 5 персональных тренировок
					p стоимость: 12500 / 15000

		.prices__space
		p.special-page__text.special-page__text_subtitle Тренировки в мини-группе
		.prices__table.prices__table--big
			.prices__table_col
				.prices__table_cell.prices__table_head.prices__table_head--empty
					p Пилатес
				.prices__table_cell.prices__table_body
					p разовое
				.prices__table_cell.prices__table_body
					p 5 занятий
				.prices__table_cell.prices__table_body
					p 10 занятий (5 недель)
				.prices__table_cell.prices__table_body
					p 20 занятий (3 месяца)
			.prices__table_col
				.prices__table_cell.prices__table_head
					p Йога / Пилатес мат
				.prices__table_cell.prices__table_body
					p 1300
				.prices__table_cell.prices__table_body
					p 6000 / 1200
				.prices__table_cell.prices__table_body
					p 11500 / 1150
				.prices__table_cell.prices__table_body
					p 22000 / 1100
			.prices__table_col
				.prices__table_cell.prices__table_head
					p Пилатес на большом оборудовании
				.prices__table_cell.prices__table_body
					p 1700
				.prices__table_cell.prices__table_body
					p 8000 / 1600
				.prices__table_cell.prices__table_body
					p 15500 / 1550
				.prices__table_cell.prices__table_body
					p 30000 / 1500
			.prices__table_col
				.prices__table_cell.prices__table_head
					p Дуэт / Пилатес мат (за 1 человека)
				.prices__table_cell.prices__table_body
					p 1600
				.prices__table_cell.prices__table_body
					p 8000 / 1500
				.prices__table_cell.prices__table_body
					p 14500 / 1450
				.prices__table_cell.prices__table_body
					p 28000 / 1400
			.prices__table_col
				.prices__table_cell.prices__table_head
					p Дуэт / Reformer (за 1 человека)
				.prices__table_cell.prices__table_body
					p 2200
				.prices__table_cell.prices__table_body
					p 10500 / 2100
				.prices__table_cell.prices__table_body
					p 20500 / 2050
				.prices__table_cell.prices__table_body
					p 40000 / 2000

		.prices__space
		p.special-page__text.special-page__text_subtitle Персональный тренинг. 1 клиент : 1 тренер, продолжительность 55 мин
		.prices__table.prices__table--big
			.prices__table_col
				.prices__table_cell.prices__table_head
					p Категории тренеров
				.prices__table_cell.prices__table_body
					p разовое
				.prices__table_cell.prices__table_body
					p 5 занятий
				.prices__table_cell.prices__table_body
					p 10 занятий (5 недель)
				.prices__table_cell.prices__table_body
					p 20 занятий (3 месяца)
			.prices__table_col
				.prices__table_cell.prices__table_head
					p Категория 1
				.prices__table_cell.prices__table_body
					p 3000
				.prices__table_cell.prices__table_body
					p 2900 / 14500
				.prices__table_cell.prices__table_body
					p 2800 / 28000
				.prices__table_cell.prices__table_body
					p 2700 / 54000
			.prices__table_col
				.prices__table_cell.prices__table_head
					p Категория 2
				.prices__table_cell.prices__table_body
					p 3500
				.prices__table_cell.prices__table_body
					p 3400 / 17000
				.prices__table_cell.prices__table_body
					p 3300 / 33000
				.prices__table_cell.prices__table_body
					p 3200 / 64000
			.prices__table_col
				.prices__table_cell.prices__table_head
					p Категория 3
				.prices__table_cell.prices__table_body
					p 4000
				.prices__table_cell.prices__table_body
					p 3900 / 19500
				.prices__table_cell.prices__table_body
					p 3800 / 38000
				.prices__table_cell.prices__table_body
					p 3700 / 74000
			.prices__table_col
				.prices__table_cell.prices__table_head
					p Категория 4
				.prices__table_cell.prices__table_body
					p 5500
				.prices__table_cell.prices__table_body
					p 5300 / 26500
				.prices__table_cell.prices__table_body
					p 5000 / 50000
				.prices__table_cell.prices__table_body
					p 4900 / 98000
		.form-sertificate-button Подарочный сертификат

	.overlay.hidden
	form.form.modal.form-sertificate.hidden
		.form-sertificate__title Подарочный сертификат
		.form-sertificate__list
			.form-sertificate__item
				span.form-sertificate__text Кому:
				input.form-sertificate__input(type='text' name='for')
			.form-sertificate__item
				span.form-sertificate__text От кого:
				input.form-sertificate__input(type='text' name='from')
			.form-sertificate__item
				span.form-sertificate__text Сумма:
				input.form-sertificate__input(type='text' name='sum')
			.form-sertificate__item
				span.form-sertificate__text Срок действия:
				input.form-sertificate__input(type='text' name='duration')
		button.form-sertificate__button(name='submit_sertificate' type='submit') Заказать сертификат
		.modal__close
			img.modal__close_img(src='images/close_white.png' alt='Закрыть')
		//.prices__space
		//p.special-page__text.special-page__text_subtitle Тренировки в мини-группе
		//.prices__table
		//	.prices__table_head
		//		.prices__table_head_item
		//			p
		//		.prices__table_head_item
		//			p Йога / Пилатес мат
		//		.prices__table_head_item
		//			p Пилатес на большом оборудовании
		//		.prices__table_head_item
		//			p Дуэт / Пилатес мат (за 1 человека)
		//		.prices__table_head_item
		//			p Дуэт / Reformer (за 1 человека)
		//	.prices__table_body
		//		.prices__table_body_item
		//			p разовое
		//		.prices__table_body_item
		//			p 1300
		//		.prices__table_body_item
		//			p 1700
		//		.prices__table_body_item
		//			p 1600
		//		.prices__table_body_item
		//			p 2200
		//	.prices__table_body
		//		.prices__table_body_item
		//			p разовое
		//		.prices__table_body_item
		//			p 1300
		//		.prices__table_body_item
		//			p 1700
		//		.prices__table_body_item
		//			p 1600
		//		.prices__table_body_item
		//			p 2200
		//	.prices__table_body
		//		.prices__table_body_item
		//			p разовое
		//		.prices__table_body_item
		//			p 1300
		//		.prices__table_body_item
		//			p 1700
		//		.prices__table_body_item
		//			p 1600
		//		.prices__table_body_item
		//			p 2200
		//	.prices__table_body
		//		.prices__table_body_item
		//			p разовое
		//		.prices__table_body_item
		//			p 1300
		//		.prices__table_body_item
		//			p 1700
		//		.prices__table_body_item
		//			p 1600
		//		.prices__table_body_item
		//			p 2200