extends ../layouts/default

block content
	.programs-page.view-port.main-padding
		.special-page__title.main-title Описание программ

		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules.programs__subtitle ПИЛАТЕС
		p.special-page__text Восстанавление опорно-двигательного аппарата. Полезен при любых травмах суставов, позвоночных грыжах и для исправления отклонений в осанке. Метод тренировки; направленный на укрепление мышц живота, бедер, ягодиц, на улучшение осанки, гибкости, помогает снять напряжение с позвоночника.

		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules.programs__subtitle ПИЛАТЕС PROPS  (МАЛОЕ ОБОРУДОВАНИЕ)
		p.special-page__text Класс для людей среднего уровня подготовки и продвинутых клиентов, чья цель плоский живот, упругие ягодицы, красивые руки и спина. В течение урока используется дополнительное оборудование: кольца, роллы. Ленточный амортизатор, мячи, ВOSU и PILATES ARC (корректор спины), которая разгружает спину, способствует ее гибкости и развивает мышцы, окружающие позвоночник.

		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules.programs__subtitle ПИЛАТЕС   APPARATUS
		p.special-page__text Тренировки на знаменитом тренажере – Reformer. Чудо-кровать для укрепления мышечной и скелетной систем, безопасно и эффективно корректирует стереотипы движения, вызывающие боли в спине и суставах; подходит для всех, кто желает обрести красивую форму ног, рук, живота и восстановить все функции организма! Занятия благотворно влияют на нервную систему благодаря особому дыханию, которое мы используем во время упражнений. Это любовь с первого взгляда и движения!

		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules.programs__subtitle ПИЛАТЕС TOWER
		p.special-page__text Башня (Tower)  - это дополнительная арка с разными пружинами и петлями, которая крепится к Реформеру, что дает возможность расширить репертуар упражнений для реабилитации и обычных силовых тренировок. Уникальная возможность избавиться от болей в шейном и грудном отделах, так как здесь уделяется большое внимание организации головы, шеи и плеч. А также различные упражнения для расслабления поясничного отдела спины и укрепления мышц центра.

		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules.programs__subtitle МИОФАСЦИАЛЬНОЕ РАССЛАБЛЕНИЕ / BLACKROLL
		p.special-page__text Занятие для расслабления мышц и раскрепощения суставов. Используется специальное оборудование – аппликаторы Blackroll – разного размера. Мы освобождаемся от мышечных зажимов и спазмов, улучшаем кровообращение и питание в мягких тканях. Это дает возможность в дальнейшем эффективно и экологично тренировать все тело.

		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules.programs__subtitle АШТАНГА ЙОГА
		p.special-page__text Одна из разновидностей ЙОГИ. Динамичная тренировка для развития стабильности и мобильности суставов, увеличения гибкости и развития координации.

		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules.programs__subtitle MOTR
		p.special-page__text Функционалный тренинг с оборудованием, в котором собран Реформер и Ролл. Веселый и сильный класс для развития всех физических показателей. Занятие рекомендуется для среднего и продвинутого уровней физической подготовки. Не для начинающих.

		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules.programs__subtitle SPINE CORRECTOR ( КОРРЕКТОР СПИНЫ) / LADDER BARREL (ЛЕСТНИЦА С БОЧКОЙ) – СОЗДАНО ДЖОЗЕФОМ ПИЛАТЕС
		p.special-page__text На этом занятии используется арка для коррекции осанки, укрепления всего мышечного корсета. Особое внимание уделяется грудному отделу, шее и плечам. Это спасение для тех, у кого сколиоз и другие искривления позвоночника. Занятие для любого уровня подготовленности.

		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules.programs__subtitle ПИЛАТЕС ДЛЯ БЕРЕМЕННЫХ
		p.special-page__text Во время беременности пилатес помогает улучшать кровообращение, поддерживать форму и внешний вид. Упражнения пилатес способствуют раскрытию тазобедренных суставов и укреплению мышц тазового дна, а также нормализует психологическое состояние во время всего периода беременности. Бонус: консультации психолога в нашей студии.

		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules.programs__subtitle СТРЕТЧИНГ
		p.special-page__text Уровень подготовленности: любой Занятия, в котором используются упражнения на растягивание и расслабление мышц. Вы познакомитесь с техниками растягивания, добьетесь повышения гибкости и подвижности, снимете усталость и напряжение. Продолжительность – 20 - 55 мин

		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules.programs__subtitle ВВЕДЕНИЕ В ПИЛАТЕС — КУРС
		p.special-page__text 5 обязательных уроков  для всех наших клиентов, на котором вы познакомитесь с основными принципами PILATES, включая дыхание, корректное и безопасное положение спины, а также с серией упражнений на различном оборудовании для дальнейшего посещения групповых или персональных тренировок. Если Вы впервые у нас, то посещение этого курса обязательно для уменьшения риска травмы при работе с тренажерами. Продолжительность каждого урока – 55 мин.



