extends ../layouts/default

block content
	.special-page.view-port.main-padding
		h1.special-page__title.main-title Диагностическая тренировка и правила посещения
		h2.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules Ваше первое посещение - Стартовая Тренировка (включен Скрининг Polestar Pilates), 50-60 минут (обязательна для всех клиентов)
		p.special-page__text Занятие необходимо для выявления уровня физической подготовки и Ваших фитнес потребностей и целей. Сначала 20-минутная визуальная диагностика осанки и фитнес тестирование - Скрининг Polestar Pilates, в течение которого тренер смотрит биомеханику и гибкость суставов, стратегию движения во время выполнения простых упражнений, выравнивание тела - а именно: организацию головы, шеи и плеч, расположение головы относительно грудного отдела, расположение грудного отдела относительно таза, выравнивание ног и стоп. Только после этого специалист состаляет для Вас программу тренировок.
		p.special-page__text Остальное время — это ознакомительная тренировка.
		p.special-page__text Рекомендуем прийти на первое занятие заранее. Вас попросят заполнить анкету, предоставляющую информацию о здоровье, истории болезни, стиле жизни, целях в фитнесе, потребности реабилитации и т.д. Это может занять 15 минут (до процедуры Скрининга). Ваш инструктор даст вам возможность задать вопросы, выразить опасения. А также инструктор задаст Вам несколько вопросов, необходимых ему, чтобы лучше понимать, как начать ваше обучение.
		p.special-page__text Диагностика нужна.
			br
			| Сначала диагностика, потом посещение.
			br
			| И никак иначе.
			br
			| Даже если Вы посещали занятия пилатесом по всему миру, мы работаем системно, и диагностика - это первый пункт.
			br
			| Это грамотно.
			br
			| Это безопасно для Вас.
			br
			| Это методично.
			br
			| Так наши клиенты достигают результата.
		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules Общие инструкции для посещения тренировок
		p.special-page__text Приходить следует на 10-15 минут раньше тренировки, чтобы можно было настроиться на класс. Занятия начинаются точно по времени, а заканчиваются через 50-55 минут. Этот 5-10-минутный перерыв позволяет проветрить помещение, установить все необходимое оборудование (Мат, Реформер, мячи, кольца и т. д.)
			br
			| Носите удобную (не мешковатую) одежду, такую, как лосины, шорты, футболки и топы. С целью гигиены, просим Вас быть в чистых носках и удобной спортивной, не сковывающей Ваши движения, одежде.
			br
			| Пейте много воды после занятий.
			br
			| Информируйте преподавателя о любых изменениях состояния Вашего здоровья или о приобретенной травме.
			br
			| Сотовые телефоны по возможности должны быть отключены, чтобы не нарушать тренировочный процесс и для всеобщего удовольствия.
			br
			| Мы рекомендуем придерживаться расписания: пилатес 2-3 раза в неделю, чтобы испытать все его преимущества. Это же относится к любому виду тренинга.
		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules  Ваша безопасность для нас превыше всего
		p.special-page__text Мы просим Вас следовать следующим правилам, чтобы тренировки стали для Вас радостью.
		p.special-page__text Избегайте ношения ювелирных изделий, таких как браслеты, цепочки и ожерелья, которые могут цепляться за тросы и беспокоить во время выполнения упражнений. Воздержитесь от использования лосьонов и кремов, поскольку это увеличивает риск поскользнуться. Воздержитесь от использования стойких ароматов в классе, так как это может повлиять на состояние других клиентов. Не ешьте за час-два до занятия. Можно приносить воду в бутылках на тренировку. В студии есть кулер. Все оборудование (Реформер) должно быть чистым после использования, а также следует вернуть его к своей первоначальной настройке после использования.
		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules Если Вы впервые на групповом занятии, предлагаем Вам заботиться о себе
		p.special-page__text Обратите внимание, что  тренировки в мини-группе на фитнеc-основе, и они не предназначены или организованы для реабилитации.
		p.special-page__text Представьтесь Вашему тренеру, сообщите, что это Ваше первое занятие. Будьте готовы получить от инструктора полезную обратную связь и коррекцию выполнения упражнений. Будьте готовы, что тренер на групповом занятии передвигается по залу и активно контролирует класс. Пожалуйста, не забудьте протереть оборудование после использования. Все документы должны быть заполнены до посещения занятий (Анкета клиента, Бланк визуальной диагностики - Скрининг).
		p.special-page__text Как всегда, перед началом новой тренировочной программы упражнений обязательно проконсультируйтесь с врачом, если у Вас есть любое из следующих условий:
		p.special-page__text Беременность
			br
			| Прошлые травмы, такие как хлыстовая травма шеи, растяжение связок, нестабильность суставов, проблемы с межпозвоночными дисками.
			br
			| Хронические заболевания, такие как артирит, остеопороз и т.д.
			br
			| Личная или семейная история болезни: высокое артериальное давление, диабет, курение, ожирение, высокий уровень холестирина, болезни легких, сердечно-сосудистые заболевания.
		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules  Политика отмены
		p.special-page__text Студия проводит политику платежной ответственности за пропущенные занятия, в случае, если клиент не предупреждает о своем отсутствии за 24 часа на персональной тренировке и за 6 часов на групповой тренировке. Это дает тренеру возможность пригласить ожидающего клиента и устанавливает стандарт взаимного уважения.
		p.special-page__text.special-page__text_subtitle.special-page__text_subtitle_rules   Бронирование
		p.special-page__text Все услуги оплачиваются заранее.
		p.special-page__text Действует предварительная запись. Если Вы не успели зарезервировать за собой время, то рекомендуем вам записаться в лист ожидания. Как только освободится место, Вас оповестит администратор (в порядке записи в листе ожидания).