extends ../layouts/default

include ../modules/special-page-nav/special-page-nav

block content
	.special-page.view-port.main-padding
		.special-page__title.main-title Специальные программы
		+special-page-nav(special_page_nav, 'Для мужчин')
		.special-page__container
			.special-page__top-text
				h1.special-page__h1.main-title Пилатес для мужчин
				p.special-page__text Немного истории о том, что метод был созд​ан мужчиной и для мужчин
				p.special-page__text Когда началась Первая Мировая Война, Джо находился в Англии в боксерском туре. В течение войны его держали в лагере для интернированных, недалеко от Ланкстера, как подданного другого государства постоянно проживающего в Англии. Пока он находился в лагере, то ежедневно тренировал своих соратников. Во время эпидемии гриппа 1918-1919 годов, ни один из его соратников, с кем он занимался, не заболел. Успехи Джо были замечены и его перевели на работу санитара в госпиталь на острове Мэн. Ему дали 30 пациентов, травмированных в военных действих, и он ежедневно тренировал их, чтобы они могли двигать тем, что  у них осталось. Это происходило в годы, когда западная медицина была в зачаточном периоде и основными способами лечения были ампутации и морфий. В то время, лечение предполагало длительное восстановление лежа, что вело к атрофии мышц, снижению аэробных возможностей и ухудшению иммунитета. Упражнения Джо помогали пациентам быстрее восстанавливаться и противостоять повторным инфекциям, которые при прочих равных условиях, убили множество людей.
			.special-page__img-wrapper
				img.special-page__img(src='images/special/special_men.jpg', alt='')
		p.special-page__text Работа санитара также привела Джо к разработке первого оборудования. Ежедневная работа с тридцатью пациентами была изматывающей, поэтому Джо пришел  к идее прикрепления пружин непосредственно к их кроватям. Теперь пациенты могли тренироваться сами, под контролем Джо. Когда Джо отпустили из лагеря, с ним завязали  контакты "коричневые рубашки" (которые позже стали партией нацистов). Они хотели, чтобы он тренировал их полицию. Джо не хотел иметь с ними ничего общего, поэтому он покинул Германию.
		p.special-page__text Какие же преимущества от тренировок по методу Джозефа могут получить мужчины? Мужчины отличаются от женщин физически, но им требуются те же преимущества от упражнений, что и женщинам. Мужчины, которые тренируются регулярно, необычайно сильны, но их мышцы чаще всего укорочены и зажаты. Поэтому во время фитнес-тестирования им достаточно сложно сидеть с вытянутыми вперед   ногами. У мужчин меньше таз, более крепкие ягодицы и, обычно, жестче задняя поверхность бедер, чем у женщин. Такое ограничение ведет к болям в пояснице в какой-то момент их жизни.
		p.special-page__text Ответ есть - это пилатес - расслабляет зажатые зоны, делает мышцы и суставы более функциональными для повседневной жизни, без ограничений.
		p.special-page__text Пилатес тренирует 7 ключевых факторов:
			br
			| — осанку
			br
			| — баланс
			br
			| — стабильность
			br
			| — гибкость
			br
			| — координацию
			br
			| — выносливость
			br
			| — функциональную силу
		p.special-page__text Для мужчин за 50, заболевания простаты являются очень распространенными. Исследования показывают, что главным факторм является - атрофия(износ) мышц тазового дна. Занимаясь по методу Пилатеса, эти мышцы можно укрепить, и, как результат, снизить риск возникновения заболеваний. Пилатес доказал свою причастность к улучшению сексуальной функции. То есть, можно повысить качество жизни и в этой сфере.
		p.special-page__text Занятия для мужчин отличаются от занятий для женщин. Для мужчин здесь есть взрывная сила для увеличения амплитуды и гибкость, а также силы и увеличения энергии.
		.programs__item_button.special-page__button.form-button(onclick="yaCounter50557537.reachGoal('SKIDKA30'); return true;") Записаться