extends ../layouts/default

include ../modules/special-page-nav/special-page-nav

block content
	.special-page.view-port.main-padding
		.special-page__title.main-title Специальные программы
		+special-page-nav(special_page_nav, 'Танцорам')
		.special-page__container
			.special-page__top-text
				h1.special-page__h1.main-title Пилатес для танцоров
				p.special-page__text Раньше занятия по методу Джозефа Пилатеса были привилегией артистов балета и звезд Голливуда. В 1926 году Джо и Клара переехали в Нью-Йорк, арендовали мелнькую студию на 8-й авеню, в том же доме, где находился Нью-Йорский балет, и начали преподавать Контрологию, как называл ее Джо.
				p.special-page__text Он работал с людьми разных профессий, но особо сильное впечатление произвело на танцевальное сообщество. Он работал с Тэдом Шоуном, Роусом Дэнисом, Георгием Баланчиным и многими другими, кто направлял своих травмированных танцоров для реабилитации.
				p.special-page__text В нашей студии такие тренирвоки  созданы для того, чтобы поднять профессиональный уровень танцоров, а также всех людей, кому приходится быть всегда на виду, быть лицом компании или просто шикарно выглядеть и иметь ту же стать, что и у танцора!
				p.special-page__text Увеличить общий тонус, усилить гибкость и укрепить мышцы всего тела, отработать слабые места и тем самым развить исполнительский потенциал - все это возможно при регулярных занятиях.
			.special-page__img-wrapper
				img.special-page__img(src='images/special/special_dancers.jpg', alt='')
		p.special-page__text Особенно важно для танцора укреплять мышцы живота. Так как, если мышцы живота слабые, то сгибатели будра и разгибатели нижней части спины будут перегружены, снижен баланс, и танцевальные движения станут травматичны.
		p.special-page__text Преимущества:
			br
			| — Стабилизация таза
			br
			| — Стабилизация лопаток
			br
			| — Выравнивание бедра, голени, стопы
			br
			| — Снижение риска травматизма
			br
			| — Укрепление глубоких мышц живота, и, как следствие, качественное исполнение
			br
			| — Осознанность тела и понимание, какие мышцы и в какой момент необходимо использовать
			br
			| — Увеличение гибкости и подвижности
			br
			| — Мышечный баланс и симметрия
			br
			| — Снижение нагрузки на суставы и связки
			br
			| — Контроль гиперподвижности
			br
			| — Снижение мышечных спазмов
		.programs__item_button.special-page__button.form-button(onclick="yaCounter50557537.reachGoal('SKIDKA30'); return true;") Записаться