extends ../layouts/default

include ../modules/special-page-nav/special-page-nav

block content
	.special-page.view-port.main-padding
		.special-page__title.main-title Специальные программы
		+special-page-nav(special_page_nav, 'Для беременных')
		.special-page__container
			.special-page__top-text
				h1.special-page__h1.main-title Пилатес для беременных
				p.special-page__text.bold Занятия с беременными женщинами в Студии индивидуальные!
				p.special-page__text Занятия во время беременности являются важной частью сохранения здорового образа жизни. Тем не менее, физические изменения, которые сопровождают беременность, требуют изменения тренировочных программ во время беременности и сразу после родов.
				p.special-page__text Регулярные тренировки по системе Пилатеса способствуют:
				p.special-page__text — укреплению мышц спины
					br
					| — улучшению кровообращения
					br
					| — укреплению мышц живота и тазового дна
					br
					| — увеличению подвижности позвоночника
					br
					| —" раскрытию" тазобедренных суставов
					br
					| — уменьшению застойных явлений в нижних конечностях
					br
					| — обучению навыкам грудного бокового дыхания
					br
					| — релаксации (расслаблению)
			.special-page__img-wrapper
				img.special-page__img(src='images/special/special_pregnant.jpg', alt='')
		p.special-page__text Доказан тот факт, что, занимаясь по методу Пилатеса, женщина в последствии легче переносит роды и, что самое важное, вынашивает благополучно ребенка весь  срок без риска выкидыша. Правильная техника дыхания и общий контроль над своим телом, управление мышцами тазового дна, умение расслабляться очень пригодятся во время родов.
		p.special-page__text Занятия с беременными женщинами в Студии индивидуальные. Даже разбивка по группам в зависимости от триместра не используется. Мы учитываем не только срок беременности, но и то, занималась ли женщина до беременности, каков уровень физической подготовки, и то, как она переносит занятия. Только в этом случае можно добиться максимальной эффективности и безопасности тренировок.
		p.special-page__text Заниматься надо регулярно - 2-3 раза в неделю. Можно чаще - в том случае, если вы хорошо переносите занятия и до беременности вели спортивный образ жизни. Тренировки менее 1 раза в неделю, "от случая к случаю" - это каждый раз стресс для организма. Не стоит пытаться освоить методику пилатеса самостоятельно, используя книги и видеоматериалы. Особенно опасны такие эксперименты во время беременности. Здесь очень важна техника выполнения упражнения. Овладеть ею вам поможет опытный инструктор.
		p.special-page__text Над чем будем работать?
		p.special-page__text Дыхание в пилатесе увеличивает подвижность грудной клетки и  позволяет наполнять легкие. Особенно такое дыхание необходимо будущим мамам в 3 триместре, когда диапазон движения диафрагмы ограничен положением ребенка. Занятия направлены на укрепление поперечной мышцы живота (самой глубокий слой мышц живота) - она корсетом окружает туловище и является самой ближайшей к внутренним органам. Укрепление этой области помогает поддерживать пояснично-крестцовый отдел позвоночника и таз в период, когда ослабляются связки вокруг суставов. Это ослабление может привести к отсутствию стабильности таза, что будет причиной возникновения проблем в пояснице, крестцово-повздошном сочленении и бедрах. Поперечная мышца живота поможет в процессе родов "подталкивать" ребенка. Занятия очень хорошо тренируют мышцы таза и тазового дна, делают их более выносливыми. А также увеличивается подвижность тазобедренных суставов. Поэтому при продолжительных родах благодаря натренированности мышц женщина легко сумеет принять наиболее удобное положение. Как видим, система Пилатеса отлично подходит для будущих мам и эффективна на всех этапах беременности: от планирования до счастливого финала, а также и в  послеродовой период.
		p.special-page__text Меры безопасности:
		p.special-page__text Несмотря на то, что пилатес - метод щадящий, перед началом занятий необходимо проконсультироваться с акушером-гинекологом. Воздержитесь от занятий при следующих заболеваниях и состояниях:
			br
			| — при острых заболеваниях и обострении хронических заболеваний, например при гриппе, ОРВИ, обострении гастрита
			br
			| — при повышенном тонусе матки, кровянистых выделениях из половых путей, угрозе прерывания беременности
			br
			| — при ярко выраженном токсикозе(продолжительная рвота)
			br
			| — при гестозе беременности,  проявляющемся повышением артериального давления, появлением белка в моче, отеков
			br
			| — при наличии выкидышей в прошлом
			br
			| — при многоводии
			br
			| — при систематически появляющихся схваткообразных болях после занятий
		p.special-page__text Во время 5 месяца матка становится достаточно большой и начинает давить на артерии, которые проходят по внутренней стороне позвоночника, когда Вы лежите на спине. Поэтому работа на спине сокращается или ограничивается.
		p.special-page__text Мы готовы предложить Вам безопасные и спокойные занятия по методу Пилатеса с учетом всех особенностей каждого месяца беременности. Укрепление и стабилизация улучшит Ваши двигательные способности и снимет боли в течение всего срока беременности, подготовит и поможет во время родов.
		p.special-page__text Продолжительность занятия 55 минут. (Иногда 20-30 минут бывает достаточно).
		p.special-page__text После рождения ребенка, когда мама чувствует себя хорошо, то она может начать делать простые упражнения  на активацию мышц Центра, тазового дна и для стабилизации таза.
		p.special-page__text Если роды были вагинальными, то женщина может вернуться к начальному уровню упражнений, как только кровотечение остановилось и она чувствует себя хорошо. Если женщине делали эпизиотомию, то надо минимизировать отведение бедер и любые не комфортные движения в течение 6-8 недель после родов. Если роды происходили при помощи Кесарева сечения, напрягать живот не рекомендуется в течение 6-8 недель. Не стоит напрягать область со швами до их полного восстановления. Как только врач одобрит тренировки, целесообразно начать медленно, пока женщина не почувствует, что восстановила энергию полностью.
		p.special-page__text.bold Если Вы решили заниматься по методу Пилатеса во время беременности, мы настоятельно рекомендуем проконсультироваться с Вашим лечащим врачом.
		.programs__item_button.special-page__button.form-button(onclick="yaCounter50557537.reachGoal('SKIDKA30'); return true;") Записаться