extends ../layouts/default

include ../modules/special-page-nav/special-page-nav

block content
	.special-page.view-port.main-padding
		.special-page__title.main-title Специальные программы
		+special-page-nav(special_page_nav, 'При недержании')
		.special-page__container
			.special-page__top-text
				h1.special-page__h1.main-title При недержании
				p.special-page__text Это секрет, котрый хранят миллионы женщин и мужчин лучше всего.
				p.special-page__text Недержание мочи может встречаться в любом возрасте, но причины этого расстройства в разных возрастных группах, как правило, различны. Вероятность его возникновения с возрастом заметно возрастает. Однако мало кто обращается за помощью. Многие стесняются, многие не осознают, что помощь возможна.
				p.special-page__text.bold Что такое недержание?
				p.special-page__text Недержание мочи - это непроизвольное мочеиспускание во время обычной повседневной активности, которое возникает во время смеха, кашля или чихания, прогулок или физических нагрузок, при  подъеме из сидячего или лежачего положения, поднтии тяжестей.
				p.special-page__text Недержание лишает сна, истощает организм, мешает работать, общаться, то есть снижает качество жизни, способствует развитию пролежней, инфекций мочевого пузыря и почек. Все это угнетает человека и ведет к психологической неуверенности.
			.special-page__img-wrapper
				img.special-page__img(src='images/special/special_ups.jpg', alt='')
		p.special-page__text.bold Каковы причины?
		p.special-page__text Самой частой причиной недержания является ослабление мышц тазового дна, которые поддерживают органы мочевыводящей системы. При этом любое движение, оказывающее давление на мочевой пузырь (кашель, чихание, смех), может привести к непроизвольному выходу мочи.
		p.special-page__text Наиболее изученными и доказанными причинами недержания мочи у женщин являются: возраст, ожирение, недержание мочи после родов.
		p.special-page__text Мужское недержание мочи не является неотъемлемой частью старения или заболеванием. Фактически, это симптом какого-либо другого заболевания или последствие операций на предстательной железе, и может быть вызвано множеством причин.
		p.special-page__text.bold Лечение
		p.special-page__text Одним из наиболее эффективных консервативных методов лечения недержания мочи являются упражнения для мышц тазового дна из положения лежа на полу.
		p.special-page__text Сочетание поддерживания здоровья мочевого пузыря, правильная осанка, укрепление мышц живота и тазового дна поможет контролировать до 95% симптомов недержания мочи, сводя к минимуму или устраняя необходимость приема лекарств и/или хирургического вмешательства.
		p.special-page__text Лечение без лекарств может включать в себя мануальную терапию, укрепление мышц таза и бедер, используя упражнения из пилатеса и функционального тренинга.
		.programs__item_button.special-page__button.form-button(onclick="yaCounter50557537.reachGoal('SKIDKA30'); return true;") Записаться