extends ../layouts/default

block content
	.timetable.view-port.main-padding
		h1.timetable__title.special-page__title.main-title Расписание групповых занятий
		.prices__space
		p.special-page__text *  –  для любого уровня подготовки, Ⅰ – для начинающих, Ⅱ – для продвинутых
		.timetable__img-wrapper
			img.timetable__img(src='images/timetable.jpg', alt='')