extends ../layouts/default

include ../modules/icon/icon

block content
	.trainers-page(id='trainers').view-port
		h1.trainers-page__title.main-title Наши тренеры
		.trainers-page__wrapper
			img.trainers-page__img(src="images/trainers/trainer_1.jpg", alt='')
			.trainers-page__text.trainers-page__text_inverse
				.trainers-page__text_title.main-title Елена Королева
				p.trainers-page__text_p Тренер по пилатесу, йоге, функциональному тренингу. Основатель студии.
				p.trainers-page__text_p Почти все сказано о пилатесе... В интернете, в журналах ... Однако мы сталкиваемся с изумлением людей, когда они видят наше оборудование. Пилатес не имеет противопоказаний и имеет массу преимуществ.
				p.trainers-page__text_p Когда мне говорят «Пилатес — это не моё», я понимаю одно — не было ещё рядом того, кто вскроет в теле новые возможности и резервы. Та осознанность, которая просыпается во время занятий, та чувствительность , которая пробуждается, те ощущения, которые возникают... ммм... Не знаю, как можно не влюбиться)
				p.trainers-page__text_p Я влюбилась в 2003 году. Впервые испытав ограничения в теле, мышечные зажимы, хотя я была тренером по Йоге. И сильным тренером! Тело не хотело двигаться так, как предполагает метод пилатеса) не хотело... И я решила разобраться, в чем дело! До сих пор я исследую тело человека, его душу и влияние одного на другое. До сих пор несу в люди функциональное движение, которое позволяет наслаждаться жизнью.
		.trainers-page__wrapper
			.trainers-page__text.trainers-page__text_inverse
				.trainers-page__text_title.main-title Степанян Юлиана
				p.trainers-page__text_p С системой Джозефа Пилатеса я познакомилась, будучи студенткой юридического факультета. Неправильное распределение ресурсов и пренебрежение своим здоровьем привело меня в студию пилатеса к персональному тренеру, где после первого же занятия, мне стало ясно, почему в свои 22 года я чувствовала себя плохо. Именно тогда в моей голове промелькнула мысль, что я буду работать персональным тренером и помогать людям.
				p.trainers-page__text_p Движение в удовольствие — один из главных критериев качественной жизни сегодня, когда большую часть времени мы проводим стоя, сидя или лёжа. Поэтому так важно разрешить своему телу двигаться. Руководствуясь принципами движения Polestar Pilates и потребностями клиента, мы проводим тренировку в безопасном и комфортном режиме, шаг за шагом, исследуя возможности и потенциал тела. Обучая новым двигательным навыкам и улучшая качество движения, мы предлагаем телу самому выбрать, каким именно способом ему лучше двигаться.
				p.trainers-page__text_p Наше тело обладает невероятным потенциалом к исцелению, и мы должны использовать эту возможность. Буду рада видеть Вас в нашей студии и быть Вашим Проводником на этом пути!
			img.trainers-page__img(src="images/trainers/trainer_2.jpg", alt='')
		.trainers-page__wrapper
			img.trainers-page__img(src="images/trainers/trainer_4.jpg", alt='')
			.trainers-page__text.trainers-page__text_inverse
				.trainers-page__text_title.main-title Ширкова Кристина
				p.trainers-page__text_p Движение — это жизнь, а жизнь — это и есть движение.
				p.trainers-page__text_p Только через труд возможно получить желаемый результат. Нагружая себя физическими упражнениями и осознанно, правильно питаясь, Вы создаете свой собственный режим, который становится неотъемлемой частью вашей жизни.
				p.trainers-page__text_p На моих тренировках Вы научитесь двигаться безопасно и с удовольствием, я сделаю Ваши занятия интересными, разнообразными и эффективными!