mixin footer()
	footer.footer
		.footer__content.view-port
			.footer__rights © Студия Пилатеса Аллегро 2018
			.footer__join-us
				.footer__join-us_text Присоединяйтесь к нам:
				.footer__links
					a.footer__links_link(href='https://instagram.com/pilatesstudio_allegro', target='_blank')
						i.fab.fa-instagram
					a.footer__links_link(href='https://www.facebook.com/mospilates/', target='_blank')
						i.fab.fa-facebook-square
